<%= form_for @photo do |f| %>

  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this media from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :media %><br>

    <%= f.label :description %>
    <%= f.text_field :description %><br>
  </div>
  
  <div>
    <%= f.submit "Upload the photo" %>
  </div>
<% end %>
